.main {
  background-color: red;
  color: azure;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  background-color: burlywood;
  width: auto;
  padding-right: 0;
  margin-right: 0;
}

.todo-tm {
  background-color: chocolate;
  flex-grow: 1;
}

.modal {
  width: 10rem;
  height: 15rem;
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: black;
  top: 50%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -5rem;
}
