$background: rgb(58, 58, 58);
$darkerBackground: rgb(31, 31, 31);
$gap: 0.5rem;

.bordered {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
}

button {
  all: unset;
  padding: 0.4rem;
  background-color: rgb(22, 100, 182);
  font-size: 0.8rem;
  margin-inline: 0.1rem;
  transition: all 0.1s ease;
  border-radius: 0.4rem;
  text-align: center;
  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}

textarea {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  color: azure;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  & > * {
    padding: 1rem;
  }
}

.sidebar {
  background-color: $darkerBackground;
  border-right: 1px solid rgba(255, 255, 255, 0.371);
}

.todo-tm {
  flex-grow: 1;
}

.modal {
  width: 10rem;
  height: 15rem;
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: black;
  top: 50%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -5rem;
}

.edit-nav {
  background: $darkerBackground;
  display: flex;
  flex-direction: column;
  min-width: 25vw;
  padding: 1rem;
}

.edit-nav > * {
  @extend .bordered;
  background: $background;
  margin-bottom: $gap;
  padding: $gap;
}

.reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin-bottom: 0.5rem;
    width: 50%;
  }
}

.popup-button {
  position: relative;
}
.reminder-popup {
  @extend .bordered;
  position: absolute;
  left: -15%;
  top: 35px;
  width: 130%;
  background-color: rgb(25, 25, 25);
  padding-bottom: 0.5rem;
  & > * {
    margin-bottom: 0.5rem;
  }
}
