@import "~react-datepicker/dist/react-datepicker.css";

$background: rgb(58, 58, 58);
$darkerBackground: rgb(31, 31, 31);
$gap: 0.5rem;
$mobileBreakpoints: 370px;
$border: 1px solid rgba(255, 255, 255, 0.296);
.bordered {
  border: $border;
  border-radius: 0.3rem;
}

button {
  all: unset;
  padding: 0.4rem;
  // background-color: rgb(22, 100, 182);
  background-color: rgba(13, 56, 100, 0.638);
  font-size: 1.2rem;
  margin-inline: 0.1rem;
  transition: all 0.1s ease;
  // border-radius: 0.4rem;
  border-radius: 0.1rem;
  text-align: center;
  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}

textarea {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.foundation {
  min-width: $mobileBreakpoints;
  // display: flex;
  // flex-direction: column;
  color: azure;
  display: grid;
  grid-template-columns: .3fr auto;
  grid-template-rows: 1fr auto;

  grid-template-areas:
   "header header"
   "sidebar sidebar"
   "main main"
   ;
  @media (min-width: 768px) {
    grid-template-areas: 
    "header header" 
    "sidebar main";
  }
}

.topbar {
  grid-area: header;
  @extend .bordered;
  width: 100vw;
  // height: 100vh;
  // height: 15vh;
  img{
    width: 100vw;
    
    object-fit: cover;
  }
}

.main {
  grid-area: main;
  // color: azure;
  display: flex;
  @media (max-width: 768px ){
    flex-direction: column;
  }

  width: 100%;
  // height: 100vh;
  display: flex;
  font-size: 1.2rem;
  & > * {
    padding: 1rem;
  }
}

.sidebar {
  grid-area: sidebar;
  background-color: $darkerBackground;
  border-right: 1px solid rgba(255, 255, 255, 0.371);
  // max-width: 30vw;
  @media (min-width: 768px){
    min-height:82vh;
    
  }
  // min-width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  & > * {
    padding: 1rem;
  }
  .options-container {
    // background-color: rgba(238, 238, 147, 0.131);
    margin-top: 1rem;
    margin-bottom: 3rem;

    &:hover {
      box-shadow: 0.09rem 0.09rem 3rem #bebfbf, -0.09rem -0.09rem 1rem #ffffff;
      transition-duration: 800ms;
    }
  }

  .my-day-sidebar {
    background-color: unset;
    border-radius: 0.4;
    text-align: start;
    margin-bottom: $gap;
    width: 95%;
    &:hover {
      filter: drop-shadow(30);
      background-color: rgba(255, 255, 255, 0.042);
    }

    .logo {
      margin-right: 0.5rem;
    }
  }

  .lists-container {
    // background-color: rgba(150, 194, 62, 0.337);
    & button {
      // margin-top: $gap;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      margin-left: 0.3rem;
    }
    &:hover {
      box-shadow: 0.09rem 0.09rem 3rem #bebfbf, -0.09rem -0.09rem 1rem #ffffff;
      transition-duration: 800ms;
    }
    .total {
      height: 2.4rem;
      padding: 0.1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0.3rem;
      margin-right: 0.2rem;
      padding-bottom: 0.2rem;
      // height: 1.8rem;
      font-size: 1.2em;
      font-weight: 4em;
      border-bottom: 0.1rem solid;
      border-right: 0.1rem solid;
      border-radius: 0.4rem;
      border-color: rgba(47, 89, 131, 0.768);
      &:hover {
        filter: drop-shadow(30);
        background-color: rgba(255, 255, 255, 0.042);
        cursor: pointer;
      }
    }
  }

  .sidebar-list {
    height: 3rem;
    padding: 0.6rem;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    justify-content: space-between;
    border-bottom: 0.1rem solid;
    border-left: 0.1rem solid;
    border-radius: 0.6rem;
    border-color: rgba(47, 89, 131, 0.768);
    & button {
      background-color: unset;
      margin: 0;
      padding: 0;
    }
    // .new-list-button{
    //   margin-bottom: 4rem;
    //   margin-top: 2rem;
    // }

    &:hover {
      filter: drop-shadow(30);
      background-color: rgba(255, 255, 255, 0.042);
      // filter: brightness(1.2);
      cursor: pointer;
    }
  }
}

.todo {
  flex-grow: 1;

  .selected-list {
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
  }
  .date {
    font-size: 0.9em;
    margin-left: 0.5rem;
  }
  .left-todo {
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    margin-left: 0.3rem;
    margin-bottom: 0;
  }
  & hr {
    @extend .bordered;
  }
  .add-todo {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  .add-todo-button {
    all: unset;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.638);
    margin-right: 0.6rem;
    margin-top: 0.2rem;

    &:hover {
      filter: brightness(1.5);
      filter: drop-shadow(20);
      color: rgba(13, 56, 100, 0.638);
      cursor: pointer;
    }
  }
  .clear-todos {
    // margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .add-task-input {
    all: unset;
    padding: 0.5rem;
    width: 80%;
    box-shadow: 0.09rem 0.09rem 3rem rgba(163, 158, 158, 0.638),
      -0.09rem -0.09rem 0.7rem #18191a;

    // box-shadow: .09rem .09rem 3rem #879ba5, -.09rem -.09rem .7rem #849197;
  }
}

.todo-elements {
  display: flex;
  // background: rgba(5, 50, 92, 0.316);
  padding: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  align-items: center;

  max-width: 100vw;
  border-radius: 0;
  &:hover {
    cursor: pointer;
    filter: drop-shadow(30);
    background-color: rgba(31, 31, 31, 0.549);
  }

  &:not(:last-child) {
    border-bottom: $border;
  }
  & div {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  .checkbox {
    margin-right: 1rem;
  }

  .dot {
    margin-bottom: 0rem;
    margin-top: 0;
    // margin-left: .5rem;
    // margin-right: 1rem;
  }
  .todo-name {
    // flex: unset;
    // width: 50vw;
  }
  .option-container {
    flex: unset;
    min-width: 6vw;
  }

  .todo-due {
    .todo-due-calendar {
      margin-right: 0.3rem;
    }
  }
  .reminder-logo {
    // margin-top: 1.9rem;
    // margin-left: .5rem;
    // margin-right: 2rem;
  }

  & button {
    background-color: unset;

    .logo {
      &:hover {
        filter: drop-shadow(25);
        color: rgba(255, 255, 255, 0.837);
      }
    }
  }
}

.modal {
  width: 12rem;
  height: 15rem;
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.597);
  top: 50%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -5rem;
  & div {
    margin-bottom: 1rem;
  }
  & input {
    all: unset;
    padding: 0.5rem;
    width: 90%;
    background-color: #bebfbf;
    border: unset;
    margin-bottom: 1rem;
    color: rgb(3, 35, 67);
  }
  & button {
    margin-left: 0;
  }
  // & input{
  //   max-width: 20vw;
  //   width: auto
  // }
}

.edit-nav {
  @extend .bordered;
  background: $darkerBackground;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  // max-width: 25vw;
  padding: 1rem;
  @media (max-width: 768px){
    min-width: 100vw;
  }
}
.edit-todo {
  min-height: 5rem;
  display: flex;
  flex-direction: row;

  // word-wrap: break-word;
  // word-break: break-all;
  .checkbox {
    margin-left: 0.3rem;
    margin-top: 0.6rem;
  }

  .edit-name {
    all: unset;
    margin-left: 0.5rem;
    height: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    width: 70%;
  }

  &:hover {
    box-shadow: 0.09rem 0.09rem 3rem #bebfbf, -0.09rem -0.09rem 1rem #ffffff;
    transition-duration: 800ms;
  }
}

.edit-nav > * {
  @extend .bordered;
  background: $darkerBackground;
  margin-bottom: $gap;
  padding: $gap;
}

.my-day-editbar {
  text-align: start;
  margin-left: 0;
  // width: 93.5%;

  .my-day-editbar-logo {
    margin-right: 0.3rem;
    margin-top: 0.1rem;
  }
  &:hover {
    box-shadow: 0.09rem 0.09rem 3rem #bebfbf, -0.09rem -0.09rem 1rem #ffffff;
    transition-duration: 800ms;
  }
}

.reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    box-shadow: 0.09rem 0.09rem 3rem #bebfbf, -0.09rem -0.09rem 1rem #ffffff;
    transition-duration: 800ms;
  }
  & > * {
    border-radius: unset;
    background-color: unset;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: start;
    &:hover {
      filter: drop-shadow(35);
      background-color: rgba(255, 255, 255, 0.152);
    }
  }

  .editbar-container {
    display: flex;
    justify-content: space-between;
    width: 103%;
    padding: 0.3rem;
    & > * {
      background-color: unset;
      // width: 15vw;
      text-align: start;
      margin: 0;
      padding-left: 0;
    }
  }
  .reminder-logo {
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }

  .cancel {
    margin-right: 0.5rem;
    width: 5%;
    margin-top: 0.8rem;
    &:hover {
      color: rgb(120, 184, 209);
    }
  }

  .reminder-date {
    margin-left: 1.8rem;
    margin-top: 0.4rem;
  }
  .Add-due-date-logo {
    margin-right: 0.4rem;
  }

  .repeat-logo {
    margin-right: 0.6rem;
    margin-left: 0.3rem;
  }
}

.popup-button-remind {
  position: relative;
}
.reminder-popup {
  background-color: $darkerBackground;
  &:hover {
    background-color: $darkerBackground;
  }
  hr {
    border-top: 0.5rem;
    color: rgba(255, 255, 255, 0.25);
  }
  p {
    text-align: center;
    padding-top: 0.5rem;
  }
  @extend .bordered;
  position: absolute;
  // left: 22%;
  // top: 25px;
  // width: 60%;
  left: 43%;
  top: 23rem;
  width: 15%;

  padding-bottom: 0.5rem;
  & > * {
    margin-bottom: 0.5rem;
  }
  button {
    border-radius: unset;
    background-color: unset;
    width: 90%;
    text-align: start;
    &:hover {
      filter: drop-shadow(35);
      background-color: rgba(255, 255, 255, 0.152);
    }
  }
}

.popup-button-due {
  position: relative;
}
.due-popup {
  background-color: $darkerBackground;
  &:hover {
    background-color: $darkerBackground;
  }
  hr {
    border-top: 0.5rem;
    color: rgba(255, 255, 255, 0.25);
  }
  p {
    text-align: center;
    padding-top: 0.5rem;
  }
  @extend .bordered;
  position: absolute;
  // left: 22%;
  // top: 25px;
  // width: 60%;
  left: 43%;
  top: 23rem;
  width: 15%;

  padding-bottom: 0.5rem;
  & > * {
    margin-bottom: 0.5rem;
  }
  button {
    border-radius: unset;
    background-color: unset;
    width: 90%;
    text-align: start;
    &:hover {
      filter: drop-shadow(35);
      background-color: rgba(255, 255, 255, 0.152);
    }
  }
}

.text-area {
  &:hover {
    box-shadow: 0.09rem 0.09rem 3rem #bebfbf, -0.09rem -0.09rem 1rem #ffffff;
    transition-duration: 1100ms;
  }
}

.date-time-picker-container {
  display: flex;
  justify-content: space-between;
  .date-time-picker-close-logo {
    margin-top: 0.7rem;
    margin-right: 1.2rem;
    &:hover {
      color: rgb(120, 184, 209);
    }
  }
}

.date-time-picker {
  // background-color: rgb(118, 116, 116);
  background-color: $darkerBackground;
  font-size: 1.2rem;
  color: #ffffff;
  padding-top: 0.3rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  width: 11vw;
  border-radius: 0.5rem;
  border-color: rgba(47, 89, 131, 0.768);
}
.react-datepicker {
  background-color: rgba(245, 245, 245, 0.946);
  // display: flex;
  justify-content: space-between;
  // width: 70rem;
  left: 1.3rem;
  bottom: -1.5rem;
}

.react-datepicker__navigation {
  all: unset;
  background: blue;
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 10rem;
  padding: 0;
  border: 0.45rem solid transparent;
  z-index: 1;
  height: 10px;
  width: 10px;
  text-indent: -999em;
  // overflow: hidden;
}

.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc;
}

.react-datepicker__month-container {
  // background: red;
}

.react-datepicker__time-container {
  background-color: rebeccapurple;
}
// $checkboxSize: 20px;
// input[type="checkbox"] {
//   all: unset;
//   width: $checkboxSize;
//   height: $checkboxSize;
//   background: $darkerBackground;
//   border-radius: 50%;
//   border: 1px solid rgba(255, 255, 255, 0.481);
//   position: relative;
//   &:checked {
//     ::after {
//       content: "";
//       width: 90%;
//       height: 90%;
//       background-color: blue;
//       top: 0;
//     }
//   }
// }
